* {
    font-family: 'roboto', sans-serif;
}

.flex-container {

    display: flex;
    flex-direction: column;
}

section {
    border: medium solid red;
    height: 400px;
    background-color: peachpuff;
    flex: 1 1 auto;
   display: flex;
   padding: 10px;
   margin: 0;
}

.item {

    background-color: powderblue;
    border: medium solid purple;
    height: 16rem;
    gap: 8px;
padding: 10px;
flex: 1;  

}
.gray {

    background-color: gray ;
    border: medium solid purple;
    height: 12rem;
    gap: 8px;
padding: 4px;
flex: 1;  
justify-content: center;
align-items: center;
display: flex;
color: #f9faf8;

}
nav {

background-color: #1f2397;
border: medium solid purple;
height: 50px;
flex: 1;
gap: 8px;
color: #f9faf8;

display: flex;

}

.header_logo {

    font-weight: 700;
}

.row {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    background-color: #1f2397;
    height: 24rem;
    align-items: center;
    gap: 15px;
    color: #f9faf8;
}

.header {

display: flex;
flex-direction: row;
flex-wrap: nowrap;
gap: 30px;
}

span {
    padding-left: 12px;
    letter-spacing: -.02em;
}

nav:nth-child(1) {
    width: 40px;
    padding-left: 180px;
}


nav:nth-of-type(2) {
    justify-content: center;
    padding-right: 20px;
}

button {

    color: white;
    background-color: blue;
    border-radius: 5px;
    border: none;
}
.item:nth-child(2) {
display: flex;
    align-items: center;
    justify-content: center;
}

.thor {
    background-color: crimson;
    border: medium solid black;
    width: 400px;
    height: 150px;
}

section:nth-of-type(3n) {

    display: flex;
    align-items: center;
    justify-content: center;
}

section:nth-of-type(4n) {

    display: flex;
    align-items: center;
    justify-content: center;
}

.odin {
    background-color: blue;
    border: medium solid black;
    width: 78%;
    height: 150px;
    border-radius: 5px;
}

section:nth-child(1) {

    background-color: #1f2397;
}