* {
    font-family: 'roboto', sans-serif;
}
body {
    padding: 0;
    margin: 0;
}

.flex-container {

    display: flex;
    flex-direction: column;
}

section {
    border: none;
    height: 400px;
    background-color: peachpuff;
    flex: 1 1 auto;
   display: flex;
   padding: 10px;
   margin: 0;
   display: flex;
}

.item {

    background-color: #1f2397;
    border: none;
    height: 16rem;
    gap: 8px;
padding: 10px;
flex: 1;
padding-left: 170px;  

}
.gray {

    background-color: gray ;
    border: medium solid none;
    height: 12rem;
    gap: 8px;
padding: 4px;
flex: 1;  
justify-content: center;
align-items: center;
display: flex;
color: #f9faf8;
max-width: 500px;
margin-right: 140px;
}
nav {

background-color: #1f2397;
border: none;
height: 50px;
flex: 1;
gap: 8px;
color: #f9faf8;
align-items: center;
display: flex;

}

.header_logo {

    font-weight: 700;
    font-size: 24px;
    
}

.row {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    background-color: #1f2397;
    height: 24rem;
    align-items: center;
    gap: 15px;
    color: #f9faf8;
}

.header {

display: flex;
flex-direction: row;
flex-wrap: nowrap;
gap: 30px;
}

span {
    padding-left: 12px;
    letter-spacing: -.02em;
}

nav:nth-child(1) {
    width: 40px;
    padding-left: 180px;
}


nav:nth-of-type(2) {
    justify-content: center;
    padding-right: 20px;
}

button {

    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
}
.item:nth-child(2) {
display: flex;
    align-items: center;
    justify-content: center;
}

.thor {
    background-color: #e5e7eb;
    border: none;
    width: 44%;
    height: 70%;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

#signature {
    margin-left: 75%; font-size: 18px; color: black; font-weight: 700;
}
section:nth-of-type(3n) {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
}

section:nth-of-type(4n) {

    display: flex;
    align-items: center;
    justify-content: center;
}

.odin {
    background-color: #3882f6;
    border: none;
    width: 60%;
    height: 150px;
    border-radius: 5px;
    
}

section:nth-child(1) {

    background-color: #1f2397;
}
section:nth-child(4) {

    background-color: #f9faf8;
}

section:nth-of-type(2) {
border: none;
height: 400px;
background-color: peachpuff;
flex: 1 1 auto;
display: flex;
padding: 10px;
margin: 0;
justify-content: center;
align-items: center;
flex-direction: column;
}

.boxes_container {

    background-color: #f9faf8;
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.random {

background-color: #f9faf8;
height: 275px;
width: 150px;
display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    

}

#random_info {

    background-color: #f9faf8;
    width: 400px;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-top: 8px;

}

.outline {

    border: 3px solid #3882f6;
    width: 100%;
    height: 50%;
    border-radius: 10px;

}

.subtext {

    border: none;
    width: 100%;
    height: 50%;
    
    
    
    
}
section:nth-of-type(2) 
{
    background-color: #f9faf8;
}

.annoyingH1{

    margin-bottom: 1px; font-size: 28px !important; font-weight: 800; margin-top: 1%;


}

.awesome {

   margin-top: 1px;font-size: 28px; font-weight: 800; margin-bottom: 1px;

}

@media (max-width: 480px){

    html{


font-size: 5px !important;



    }

.row {
    flex-direction: row;
    margin: 0%;
    padding: 0%;
}

.section:nth-child(2n){

flex-direction: column;

}}