

.flex-container {

    display: flex;
    flex-direction: column;
}

section {
    border: medium solid red;
    height: 400px;
    background-color: peachpuff;
    flex: 1 1 auto;
   display: flex;
   padding: 10px;
}

.item {

    background-color: powderblue;
    border: medium solid purple;
    height: 8rem;
    gap: 8px;
padding: 4px;
flex: 1;  
}

nav {

background-color: yellow;
border: medium solid purple;
height: 50px;
flex: 1;
gap: 8px;


}
.row {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    background-color: seagreen;
    height: 20rem;
    align-items: center;
}

.header {

display: flex;
flex-direction: row;
flex-wrap: nowrap;

}